/sequence.gb
/mitochondrion.2.genomic.gbff
/mitochondrion.1.genomic.gbff
/helpFile.py
/sequence_test2.gb
/results/test2.txt
/main/helpFile.py
/results/aggregations
/results/taxonomy1.xlsx
/aggregations
/main/sortTaxonomyDataTest.ipynb
/test.xlsx
/new_seq_for_testing.gbff
/test/
/main/readOrganisms.ipynb
/taski_magisterka.txt
/mitochondrion_genomic.zip
.vscode